params{
	starIndex = 'false'
	publish_dir_mode = 'copy'
	outdir = '/home/alejandro/TFM2021/Riboseq/results'
	basedocker ='/home/' 
	raw_fastq = '/home/alejandro/TFM2021/Riboseq/data/*.fastq.gz'
	annot = '/home/alejandro/TFM2021/Riboseq/reference/gencode.v37.annotation.gtf'
	genome = '/home/alejandro/TFM2021/Riboseq/reference/GRCh38.primary_assembly.genome.fa'
	lncfasta = '/home/alejandro/TFM2021/Riboseq/reference/gencode.v36.lncRNA_transcripts.fa'
	rRNA = '/home/alejandro/TFM2021/Riboseq/reference/rRNA.fa'
	threads = 8
	fastqc_cmd_args = '--threads 8'
	trimgalore_cmd_args = '-j 8 --illumina'
	indexprice_cmd_args = '-e IndexGenome -n hs_38 -nostar -nokallisto'
	price_cmd_args = '-e Price -progress -plot'
	bowtie_ribocode_cmd_args = '-p 32 --norc'
	genomeSTAR_cmd_args = '--runThreadN 16 --runMode genomeGenerate --sjdbOverhang 49'
	STAR_cmd_args = '--runThreadN 16 --outFilterMismatchNmax 2 --outSAMtype BAM SortedByCoordinate --quantMode TranscriptomeSAM GeneCounts -- outFilterMultimapNmax 1 --outFilterMatchNmin 16 --limitBAMsortRAM 3000000000 --genomeLoad LoadAndKeep --alignEndsType EndToEnd'
	plot_cmd_args = '-t ENST00000645609.1 -s 8874908 -e 8863202'
	tracedir = "${params.outdir}/pipeline_info"
}

process.container = 'ubuntu-tfm:v1' 
docker {
	runOptions= "-v '/home/alejandro/TFM2021/Riboseq/':'/home'"
	enabled = true
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline{
	enabled = true
	file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}
